html {
    font-size: 62.5%;
}

body {
    background-color: #eeeeee;
}

*,
*::before
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p,
ul{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;;
}



header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}

h1 {
    font-size: 4.8rem;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 3.2rem;
    text-align: center;
    padding-block: 2rem;
}

.nav-logo{
    height: 4rem;
}

.container {
    margin-inline: auto;
    width: min(100%,100rem);
}


.title {
    text-align: center;
}

.badge-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.badge {
    display: block;
    width: 25%;
    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2rem;
}