
/* CSS RESSET */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  /* DEFAULTS */
  html { 
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
  }

/* BUTTONS */
 .button-1 {
    background-color: #8C0303;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover {
    background-color: #fff;
    color: #8C0303;
  }
  
  .button-1:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 500px) {
    .button-1 {
      min-width: 120px;
      padding: 0 25px;
    }
  }


.button-2 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-2:focus {
  text-decoration: none;
}

.button-2:hover {
  text-decoration: none;
}

.button-2:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-2:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-2 {
    padding: 12px 50px;
  }
}

.button-2 {
    color: white;
}

/* LAYOUT */

/* NAVBAR */

.navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: silver;
}

.navbar__link{
    text-decoration: none;
    color: inherit;
}
.navbar__list > div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar__img{
    width: 50px;
}


/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__container {
    margin: 5rem;
}

.hero__container h1 {
    font-size: 3rem;
}

.hero__container h2 {
    font-size: 2rem;
}

/* BADGE SECTION */
.badge_container {
    background-color: whitesmoke;
    padding: 3rem;
    margin-top: 20rem;

}

.badge-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
@media (max-width:1450px){
    .badge-display img {
        max-width: 110px;
    }
    .badge-display{
        gap: 1rem;
    }
    .badge_container {
        margin-top: 5rem;
    }
}

@media (max-width:900px){
    .badge-display img {
        max-width: 75px;
    }
    .badge-display{
        gap: 1rem;
    }
    .badge_container {
        margin-top: 5rem;
    }
}

@media (max-width:700px){
    .badge-display img {
        max-width: 60px;
    }
    .badge-display{
        gap: .5rem;
    }
}

/* ABOUT */

.about_container {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 2rem;
    }

.about_container > div {
    padding-top: 7rem;
    display: flex;
    gap: 10%;
}

.about_container h2 {
    font-size: 4rem;
}

.about_container h3 {
    font-size: 2rem;
}

.about_container p {
    font-size: 1.8rem;
    line-height: 3ch;
    max-width: 60ch;
}

.about_container ul{
    font-size: 1.6rem;
    line-height: 3ch;
    max-width: 60ch;
}

.history img {
    max-width: 400px;
    border: 2px solid black;
    border-radius: 3%;
    width: 100%;
}

.mission img {
    max-width: 400px;
    border: 2px solid black;
    border-radius: 3%;
    width: 100%;
}

.membership img {
    max-width: 450px;
    border: 2px solid black;
    border-radius: 3%;
    width: 100%;
}

.mission li {
    list-style-type: "~ ";
}

@media (max-width:800px){

    .history, .membership {
        display: flex;
        flex-direction: column;
    }
    .mission {
        flex-direction: column-reverse;
    }
    .mission,.history,.membership img {
        margin-top: -5rem;
    }
    .about_container h3 {
        margin-top: 2rem;
    }
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
