
/* Default Settings */

html { 
    font-size: 62.5%;
    box-sizing: border-box;
  }

body,
ul,
li,
div,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

p {
    max-width: 70ch;
}


/* Navigation */

.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.4rem;
    padding-top: 2rem;
}

.nav_item {
    display: flex;
    gap: 3rem;
    margin-inline: 5rem;
}

/* layout */

.hero_container {
    display: flex;
    margin-inline: 5rem;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-top: 10rem;
    justify-content: space-around;
}
.hero_title {
    font-size: 8rem;
    line-height: 1rem;
    font-weight: 700;
}

#hero_caption {
    font-size: 1.8rem;
    max-width: 40ch;
}
