html {
    font-size: 62.5%;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

.nav-logo{
    height: 4rem;
}

.formal-dinner {
    border: black .2rem solid;
    width: auto;
    max-width: 50%;
    height: auto;
}

.badges {
    width: 100%;
    display: flex;
}