
/* Default Settings */

html { 
    background: url(images/scotarmy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 62.5%;
    box-sizing: border-box;
  }

body,
ul,
li,
div,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

p {
    max-width: 75ch;
}


.main_container {
    width: 85%;
    max-width: 1100px;
    margin-inline: auto;
    background-color: white;
    border-radius: 3%;
    margin-top: 3%;
}

/* Navigation */

.nav_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 1.4rem;
    gap: 3rem;
}

/* layout */

.container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.container_split_item {
    margin-inline: 3rem;
}

.container_split_item img {
    width: 70%;
    min-width: 130px;
    margin-left: 15%;
    filter: drop-shadow(12px 5px 5px black);
}

